@import "tailwindcss"; 
@layer utilities{
    .img-shadow{
        filter: drop-shadow(40px 50px 25px #0f1115);
    }

    .img-shadow2{
        filter: drop-shadow(10px 30px 15px #3030307a);
    }



.input-style{
    @apply px-4 py-2 border
     border-gray-400 rounded-md;
    
}
.primary-btn{
    @apply bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-700 transition duration-200;
}
}